server:
  port: "8080"
spring:
  application:
    name: "audra-service"
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driverClassName: "org.postgresql.Driver"
  jpa:
    open-in-view: false
    database-platform: "org.hibernate.dialect.PostgreSQLDialect"
    properties:
      hibernate:
        enable-lazy-load-no-trans: false
    show-sql: false
  liquibase:
    #    enabled: false
    change-log: "classpath:/db/changelog/changelog-master.xml"
    database-change-log-lock-table: "DATABASECHANGELOGLOCK"
    database-change-log-table: "DATABASECHANGELOG"
    default-schema: "public"
    url: ${SPRING_DATASOURCE_URL}
    user: ${SPRING_DATASOURCE_LIQUIBASE_USERNAME}
    password: ${SPRING_DATASOURCE_LIQUIBASE_PASSWORD}
    contexts: "!test,!local"
  data:
    mongodb:
      username: ${SPRING_MONGO_USERNAME}
      password: ${SPRING_MONGO_PASSWORD}
      host: ${SPRING_MONGO_HOST}
      port: ${SPRING_MONGO_PORT}
      uri: mongodb://${spring.data.mongodb.username}:${spring.data.mongodb.password}@${spring.data.mongodb.host}:${spring.data.mongodb.port}
      gridfs.database: files
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB
      enabled: true
  cloud:
    azure:
      storage:
        blob:
          account-name: ${AZURE_STORAGE_ACCOUNT_NAME}
          account-key: ${AZURE_STORAGE_ACCOUNT_ACCESS_KEY}
          endpoint: ${AZURE_STORAGE_BLOG_SERVICE_ENDPOINT}
          container:
            resources: ${AZURE_STORAGE_CONTAINER_RESOURCES}

management:
  server:
    port: "8081"
    address: "127.0.0.1"
  endpoints:
    web:
      base-path:
      path-mapping:
        health: "/healthz"
        info: "/infoz"
        prometheus: "/prometheus"
      exposure:
        include: "health,info,prometheus"

logging:
  level:
    root: "warn"
    org:
      springframework:
        web: "warn"

graphql:
  servlet:
    mapping: "/graphql"
    enabled: true
    corsEnabled: false

graphiql:
  mapping: "/graphiql"
  endpoint:
    graphql: "/graphql"
  static:
    basePath: "/"
  enabled: "true"
  pageTitle: "GraphiQL"
  cdn:
    enabled: "true"
    version: "0.17.5"
  props:
    variables:
      editorTheme: "solarized light"

storage.destination.url: ${STORAGE_HOST}

resource:
  thumbnail:
    height: ${RESOURCE_THUMBNAIL_HEIGHT:800}
    width: ${RESOURCE_THUMBNAIL_WIDTH:500}